body {
    background-color: #f5f5f5;
    color: #2c3e50;
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 100vh;   
}


a {
    color: #082e47;
}
h2 {
    border-bottom: 2px solid #2980b9;
}

.resume {
    width: 100%;              
}

header {
    text-align: center;
    border-bottom: 2px solid;
    color: #2c3e50;
    border-bottom: 2px solid #2980b9;
}

header h1 {
    margin: 0;
    font-size: 50px;
}


li {
    margin-bottom: 10px;
}


h3 {
    margin: 0;
}

small {
    font-size: 0.9em;
    color: #3c3a3a;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date {
    font-weight: normal;
}